.rork export-ignore
.rork/** export-ignore
expo/.expo export-ignore
expo/.expo/** export-ignore
expo/dist-export-check export-ignore
expo/dist-export-check/** export-ignore
expo/dist-export-web-check export-ignore
expo/dist-export-web-check/** export-ignore
